/* extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* jumbotron */
    .jumbotron {
        height: 685px;
    }

    .jumbotron-image {
        height: 315px;
    }

    .jumbotron-text-wrapper {
        padding-top: 40px;
    }

    .heading-jumbotron {
        font-size: 25px;
    }

    .jumbotron-btn-social-media-wrapper {
        padding-top: 35px;
    }


    /* info panel */
    .info-panel {
        margin-top: 50px;
    }

    .info-panel-content-wrapper {
        padding-top: 15px;
    }

    .info-panel-heading {
        font-family: 'Montserrat';
        color: salmon;
    }

    .info-panel-icon {
        font-size: 30px;
    }
}

/* small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* jumbotron */
    .jumbotron {
        height: 675px;
    }

    .jumbotron-image {
        height: 500px;
    }

    .jumbotron-text-wrapper {
        padding-top: 165px;
    }

    .heading-jumbotron {
        font-size: 40px;
    }

    .jumbotron-btn-social-media-wrapper {
        padding-top: 95px;
    }


    /* info panel */
    .info-panel {
        margin-top: -65px;
    }

    .info-panel-heading {
        display: none;
    }

    .info-panel-icon {
        font-size: 35px;
    }
}