body {
    font-family: 'Nunito';
}

/* navbar */
.navbar {
    background-color: #ffecde;
}

.navbar-brand {
    color: #e67249 !important;
}

.navbar-nav a {
    color: #e67249 !important;
}


/* jumbotron */
.jumbotron {
    background-color: #ffecde;
}

.jumbotron-content-wrapper {
    padding-top: 45px;
}

.jumbotron-text-wrapper {
    padding-top: 165px;
}

.jumbotron-text p {
    color: #6bc2c2;
    font-weight: 500;
    font-size: 25px;
}

.heading-jumbotron {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 45px;
    color: #6bc2c2;
}

.text-beautiful {
    color: #FDA283;
}

.btn-shop-now {
    margin-top: 15px;
    background-color: #fbb448;
    color: white;
}

.btn-shop-now:hover {
    color: white;
}

.jumbotron-image {
    width: auto;
    height: 525px;
}

/* info panel */
.info-panel-card {
    /* border: none; */
}

/* section next */
.next {
    height: 500px;
    margin-top: -35px;
    background-color: #eff3ff;
}