body {
    font-family: 'Poppins';
    background-color: #eff3ff;
}

/* modal */
.btn-login {
    width: 85px;
    background-color: #fbb448;
    color: white;
    box-shadow: 0px 0px 10px #fbb448;
}

.btn-login:hover {
    box-shadow: 0px 0px 25px #fbb448;
    color: white;
}

.btn-forgot-password {
    color: #70d3d3;
    text-decoration: none;
}

.btn-forgot-password:hover {
    color: #55b4b4;
    text-decoration: none;
}

/* navbar */
.navbar {
    background-color: #ffecde;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.navbar-brand {
    font-family: 'Montserrat';
    color: salmon !important;
}

.nav-link {
    color: salmon !important;
    margin-left: 15px;
}

.nav-link:hover {
    color: tomato !important;
}

.dropdown-menu {
    background-color: #ffecde;
    border: 1px solid #ffa080;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.dropdown-menu li a {
    color: #fa825a !important;
}

.dropdown-menu li a:hover {
    color: #fa825a !important;
    background-color: #fce3dc;
}

.nav-btn {
    margin-left: 15px;
}

.btn-nav-login-and-register {
    background-color: #FDA283;
    color: white !important;
    width: 95px;
    height: 40px;
    border-radius: 7px;
}

.btn-nav-login-and-register:hover {
    background-color: salmon;
    color: white;
}

/* jumbotron */
.jumbotron {
    background-color: #ffecde;
}

.jumbotron-image {
    width: auto;
}

.jumbotron-content-wrapper {
    padding-top: 85px;
}

.jumbotron-border-bottom {
    border-left: 5px solid #FDA283;
}

.heading-jumbotron {
    font-family: 'Montserrat';
    color: #6bc2c2;
}

.text-make-your-day {
    padding-left: 5px;
}

.text-beautiful {
    color: #FDA283;
}

.btn-shop-now {
    margin-top: 15px;
    background-color: #fbb448;
    color: white;
    box-shadow: 0px 0px 10px #fbb448;
}

.btn-shop-now:hover {
    box-shadow: 0px 0px 25px #fbb448;
    color: white;
}

.jumbotron-btn-contact {
    color: salmon;
    font-size: 22px;
    padding-right: 10px;
}

.jumbotron-btn-contact:hover {
    color: #FDA283;
}


/* info panel */
.info-panel-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 1px 20px #FDA283;
}

.info-panel-card:hover {
    transition: all 0.5s;
    box-shadow: 0px 1px 35px #FDA283;
}

.info-panel-icon {
    color: salmon;
}

.info-panel-icon:hover {
    color: #FDA283;
}

.info-panel-card p {
    color: salmon;
}


/* section next */
.next {
    height: 900px;
    background-color: #eff3ff;
}