body {
    font-family: 'Poppins';
    background-color: #eff3ff;
}

/* navbar */
.navbar {
    background-color: #ffecde;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.nav-link {
    color: #fa825a !important;
}

.navbar-brand {
    color: #fa825a !important;
}

/* jumbotron */
.jumbotron {
    background-color: #ffecde;
    height: 675px;
}

.jumbotron-image {
    width: auto;
    height: 500px;
}

.jumbotron-content-wrapper {
    padding-top: 85px;
}

.jumbotron-text-wrapper {
    padding-top: 165px;
}

.jumbotron-border-bottom {
    border-left: 5px solid #FDA283;
}

.text-make-your-day {
    padding-left: 5px;
}

.heading-jumbotron {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #6bc2c2;
}

.text-beautiful {
    color: #FDA283;
}

.btn-shop-now {
    margin-top: 15px;
    background-color: #fbb448;
    color: white;
}

.btn-shop-now:hover {
    color: white;
}

.jumbotron-btn-social-media-wrapper {
    padding-top: 95px;
}

.jumbotron-btn-contact {
    color: #FDA283;
    font-size: 20px;
    padding-right: 10px;
}

.jumbotron-btn-contact:hover {
    color: salmon;
}


/* info panel */
.info-panel {
    margin-top: -55px;
}

.info-panel-card {
    border: none;
    border-radius: 10px;
}

.info-panel-card p {
    color: #FDA283;
}

.info-panel-icon {
    color: #FDA283;
    font-size: 35px;
}


/* section next */
.next {
    height: 80px;
    background-color: #eff3ff;
}